body, td, th {
	font-family: "Oxygen", Helvetica, sans-serif;
	line-height: 2;
	font-size: 12pt;
}

h1, h2, h3, h4, h5 {
	font-family: "Oswald", Georgia, Utopia, Charter, serif;
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
    font-size: 28pt;
}
h2 {
	font-size: 20pt;
}


/*
@media screen and (max-width: 1024px) {
    body, td, th {
        line-height: 2;
        font-size: 11pt;
    }
    h1 {
        font-size: 24pt;
    }
    h2 {
        font-size: 18pt;
    }
}
*/



p > strong:first-child {
	padding-right: 5px;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a[href*='introcs.cs.princeton.edu'] {
	padding: 5px 16px 5px 0px;
	background: transparent
        url("../images/booksite-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href*='goo.gl'], a[href*='java_visualize'] {
	padding: 5px 18px 5px 0px;
	background: transparent
        url("../images/java-visualizer-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href$='.pdf'] {
	padding: 5px 18px 5px 0px;
	background: transparent
        url("../images/pdf-link.gif")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href$='.ppt'], a[href$='.pptx'] {
	padding: 5px 18px 5px 0px;
	background: transparent
        url("../images/powerpoint-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href$='.java.html'] {
	padding: 5px 18px 5px 0px;
	background: transparent
        url("../images/java-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href*='websheets'] {
	padding: 5px 18px 5px 0px;
	background: transparent
        url("../images/websheets-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href*='dropbox.cs.princeton.edu'] {
	padding: 5px 18px 5px 0px;
	background: transparent
        url("../images/dropbox-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}

a[href^='mailto:'] {
	padding: 5px 20px 5px 0px;
	background: transparent
        url("../images/email-link.png")
        no-repeat center right;
	border-right: 2px solid transparent;
}




td, th {
	padding: 15px;
}

tr > :first-child {
	padding-left: 20px;
}

tr > :last-child {
	padding-right: 20px;
}
th {
    text-align: center;
}

/*****************
WIDE TABLE
**********/

.wide-table {
	margin: 20px auto;
	border-spacing: 0px;
}

.wide-table td, .wide-table th {
    line-height: 1.8;
	text-align: center;
	padding: 25px 20px;
	border-left: 1px;
	border-right: 1px;
}

.wide-table tr > :first-child {
	padding-left: 50px;
}

.wide-table tr > :last-child {
	padding-right: 50px;
}

.wide-table tr:nth-child(even) {
	background: #F3F3F3;
}
.wide-table tr:nth-child(odd) {
	background: #FFFFFF;
}
.wide-table td[colspan="100%"],
.wide-table th[colspan="100%"] {
    height: 150px;
}


/* Not so wide table! */
@media screen and (max-width: 1024px) {
    .wide-table td, .wide-table th {
        padding: 20px 5px;
        font-size: 11pt;
    }
    .wide-table a {
        font-size: 11pt;
    }
    .wide-table tr > :first-child {
        padding-left: 10px;
    }
    .wide-table tr > :last-child {
        padding-right: 10px;
    }
    .wide-table td[colspan="100%"],
    .wide-table th[colspan="100%"] {
        height: 100px;
    }
}






/*

.narrow-table {
	margin: 20px auto;
	border-spacing: 0px;
}

.narrow-table td, .narrow-table th {
    font-size: 11pt;
	text-align: center;
	padding: 5px;
}

.narrow-table tr > :first-child {
	padding-left: 10px;
}

.narrow-table tr > :last-child {
	padding-right: 10px;
}

.narrow-table tr:nth-child(even) {
	background: #F3F3F3;
}
.narrow-table tr:nth-child(odd) {
	background: #FFFFFF;
}
    
/*
}*/
    
.alert-box {
	width: 90%;
	margin: 20px auto;
    text-align: center;

	padding: 15px;
	padding-left: 60px;
	line-height: 2;
	background: #FFF8F1 url("../images/alert.png") no-repeat 20px 50%;

	border: #CCCCCC solid 2px;
	box-shadow: 3px 3px #AAAAAA;
}
