Redirect /~cos126/index.html                         http://www.cs.princeton.edu/courses/archive/spring14/cos126/syllabus.html
Redirect /~cos126/index.php                          http://www.cs.princeton.edu/courses/archive/spring14/cos126/syllabus.html
Redirect /courses/archive/spring14/cos126/index.php  http://www.cs.princeton.edu/courses/archive/spring14/cos126/syllabus.html
Redirect /courses/archive/spring14/cos126/index.html http://www.cs.princeton.edu/courses/archive/spring14/cos126/syllabus.html
Redirect /courses/cos126/index.html                  http://www.cs.princeton.edu/courses/archive/spring14/cos126/syllabus.html
Redirect /courses/cos126/index.php                   http://www.cs.princeton.edu/courses/archive/spring14/cos126/syllabus.html
