body{
	font-family: "Oxygen";
	background-color: white;
	margin: 120px 15% 50px 15%;
	line-height: 1.7;
	font-size: 12pt;
}
h1 {
	font-family: "Oswald",Georgia, Utopia, Charter, serif;
	font-weight: normal;
	font-size: 24pt;
	text-transform: uppercase;
}

/* * * * * * * * * * * * * * * * * * * * *\
|* all the many things having to do with *|
|* the nav bar                           *|
\* * * * * * * * * * * * * * * * * * * * */
#nav {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: black;
	color: white;
	font-family: helvetica;
	padding: 15px 15% 8px 15%;
	width: 70%;
	border-bottom: orange 5px solid;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #BBBBBB;
	-moz-box-shadow:    0px 0px 8px 0px #BBBBBB;
	box-shadow:         0px 0px 8px 0px #BBBBBB;
}

#nav img {
	height: 28px;
	margin-top: 13px;
	margin-right: 8px;
}
#nav #logo * {
	font-family: 'Raleway', sans-serif;
	font-size: 24pt;
	float: left;
	color: white;
	text-decoration: none;
	display: block;
}
#nav #dept {
	font-weight: bold;
}
#nav #course-number {
}
#nav ul {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
#nav ul li a {
	font-family: 'Raleway', sans-serif;
	font-size: 13pt;
	color: #CCCCCC;
	font-weight: bold;
	-webkit-transition: color .1s;
	-moz-transition:    color .1s;
	-ms-transition:     color .1s;
	-o-transition:      color .1s;
	transition:         color .1s;
}
#nav li a:hover {
	color: white;
	text-decoration: none;
}
#nav li a#here {
	color: white;
	border-bottom: 4px solid #444444;
}


#nav, #nav #logo *, #nav ul li a {
	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-ms-transition:     all 0.2s;
	-o-transition:      all 0.2s;
	transition:         all 0.2s;
}

#nav.smaller {
	padding-top: 3px;
	padding-bottom: 2px;
	border-bottom: orange 4px solid;
	-webkit-box-shadow: 0px 0px 5px 0px #BBBBBB;
	-moz-box-shadow:    0px 0px 5px 0px #BBBBBB;
	box-shadow:         0px 0px 5px 0px #BBBBBB;
}

#nav.smaller img {
	height: 20px;
	margin-top: 6px;
	margin-right: 5px;
}
#nav.smaller #logo * {
	font-size: 16pt;
}
#nav.smaller ul li {
	padding-left: 6px;
	padding-right: 6px;
}
#nav.smaller ul li a {
	font-size: 12pt;
}
#nav.smaller ul li a#here {
	border-bottom: 3px solid #555555;
}



@media screen and (max-width: 1000px) {
	body {
		margin-left: 8%;
		margin-right: 8%;
	}
	#nav {
		padding-left: 8%;
		padding-right: 8%;
		width: 84%;
	}
	#nav ul li {
		padding-left: 10px;
		padding-right: 10px;
	}
	/*
	#nav a {
		font-size: 14pt;
	}
	#nav img {
		height: 20px;
		margin-top: 6px;
		margin-right: 5px;
		font-size: 14pt;
	}
	*/
	/*
	#nav ul li a {
		font-size: 12pt;
	}
	*/
}


/* nav popup menus
 * ---------------
 * looks too busy & is hard to maintain, got rid of it
 */
/*
#nav ul {
	position:absolute;
	top:100%;
	left:-9999px;
	margin: 0;
	padding: 4px;
	background-color:white;
	text-align:left;
}
#nav ul li {
	display: block;
	padding: 4px 5px;
}
#nav li:hover ul{
	left:0;
}
#nav ul a {
	white-space: nowrap;
	display: block;
}
*/

/*
h2 {
	font-size: 16pt;
}

h2~h2 {
	margin-bottom: 0px;
	margin-top: 20px;
}
h3 {
	display: inline;
	margin: 0;
	margin-right: 10px;
	font-size: 12pt;
}
h3+p {
	font-size: 12pt;
	display: inline;
}
p~h3 {
	font-size: 12pt;
}
p~h3:before { content:'\A'; white-space:pre; }
h3+p:after { content:'\A'; white-space:pre; }
*/


p b:first-child {
	padding-right: 10px;
}

a {
	color: blue;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a[href*='introcs.cs.princeton.edu'] {
	padding: 5px 20px 5px 0px;
	background: transparent url(images/external-link.gif) no-repeat center right;
	border-right: 5px solid transparent;
}

a[href*='goo.gl'] {
	padding: 5px 20px 5px 0px;
	background: transparent url(images/java-visualizer-link.png) no-repeat center right;
	border-right: 5px solid transparent;
}

a[href$='.pdf'] {
	padding: 5px 20px 5px 0px;
	background: transparent url("images/pdf-link.gif") no-repeat center right;
	border-right: 5px solid transparent;
}

a.url {
	font-family: Monaco, Courier New;
	font-size: 10pt;
}
.alert-box {
	width: 90%;
	margin: 0 auto;

	/*border: 1 #aaaaaa solid;*/

	padding-left: 50px;
	background: url("images/alert.png") no-repeat 20px 50%;
}

.alert-text { color: red; }

table {
	margin: 20px auto;
}
td {
	text-align: center;
	padding: 15px;
	border-left: 1px;
	border-right: 1px;
}
/*
tr:first-child {
	border-left: none;
}
tr:last-child{
	border-right: none;
}
*/
