body{
	background-color: white;
	margin: 120px 10% 5% 10%;
}

/* * * * * * * * * * * * * * * * * * * * *\
|* all the many things having to do with *|
|* the nav bar                           *|
\* * * * * * * * * * * * * * * * * * * * */

#nav {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	z-index: 9999;
	background: black;
	color: white;
	font-family: helvetica;
	padding: 10px 10%;
    width: 80%;
	border-bottom: orange 5px solid;
	-webkit-box-shadow: 0px 0px 5px 0px #BBBBBB;
	-moz-box-shadow:    0px 0px 5px 0px #BBBBBB;
	box-shadow:         0px 0px 5px 0px #BBBBBB;
	font-family: 'Raleway', sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *\
|* The #nav bar has two children: logo and links.*|
|* All the stuff in logo is aligned left center, *|
|* links are aligned right-center.               *|
\* * * * * * * * * * * * * * * * * * * * * * * * */

#nav #logo {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

#nav #links {
	text-align: right;
	display: table-cell;
	vertical-align: middle;
}

/* * * * * * * * * * * * * * * * * * * * * * * *\
|* The #logo part of the #nav bar has an image *|
|* and any number of text elements as children *|
\* * * * * * * * * * * * * * * * * * * * * * * */

#nav #logo img {
	height: 28px;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
#nav #logo * {
	font-size: 24pt;
	color: white;
	text-decoration: none;
	display: inline-block;
}
#nav #logo #dept {
	font-weight: bold;
}
#nav #logo #course-number {
}
#nav #links {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
#nav #links li {
	display: inline-block;
}
#nav #links a {
	display: inline-block;
	font-size: 14pt;
	color: #CCCCCC;
	font-weight: bold;
	padding: 3px 10px;
	margin: 0px 4px;
}
#nav #links a:hover {
	color: white;
	text-decoration: none;
}
#nav #links a#here {
	color: white;
	background: #333333;
	border-color: #333333;
	border-style: solid;
	border-width: 0px 4px;
	border-radius: 4px;
	margin: 0px;
}


#nav, #nav #logo *, #nav ul li a {
	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-ms-transition:     all 0.2s;
	-o-transition:      all 0.2s;
	transition:         all 0.2s;
}

#nav.smaller {
	padding-top: 4px;
	padding-bottom: 3px;
	border-bottom: orange 3px solid;
	-webkit-box-shadow: 0px 0px 3px 0px #BBBBBB;
	-moz-box-shadow:    0px 0px 3px 0px #BBBBBB;
	box-shadow:         0px 0px 3px 0px #BBBBBB;
}

#nav.smaller #logo img {
	height: 20px;
	margin-right: 5px;
}
#nav.smaller #logo * {
	font-size: 16pt;
}
#nav.smaller #links a {
	font-size: 10pt;
	padding: 0px 5px;
	margin: 0px 4px;
}



@media screen and (max-width: 1200px) {
	body {
		margin-left: 8%;
		margin-right: 8%;
	}
	#nav {
		padding-left: 8%;
		padding-right: 8%;
		width: 84%;
	}
	#nav #links a {
		padding: 1px 5px;
	}
}

@media screen and (max-width: 900px) {
	body {
		margin: 70px 5% 3% 5%;
	}
	#nav{
		padding-top: 4px;
		padding-bottom: 3px;
		border-bottom: orange 3px solid;
	}
	#nav #logo img {
		height: 20px;
		margin-right: 5px;
	}
	#nav #logo * {
		font-size: 16pt;
	}
	#nav #links a {
		font-size: 10pt;
		padding: 0px 5px;
		margin: 0px 4px;
	}

}



a {
	color: navy;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a[href*='introcs.cs.princeton.edu'] {
	padding: 5px 20px 5px 0px;
	background: transparent
        url("images/booksite-link.png")
        no-repeat center right;
	border-right: 5px solid transparent;
}

a[href*='goo.gl'] {
	padding: 5px 20px 5px 0px;
	background: transparent
        url("images/java-visualizer-link.png")
        no-repeat center right;
	border-right: 5px solid transparent;
}

a[href$='.pdf'] {
	padding: 5px 20px 5px 0px;
	background: transparent
        url("images/pdf-link.gif")
        no-repeat center right;
	border-right: 5px solid transparent;
}

a[href$='.ppt'], a[href$='.pptx'] {
	padding: 5px 20px 5px 0px;
	background: transparent
        url("images/powerpoint-link.png")
        no-repeat center right;
	border-right: 5px solid transparent;
}

a.url {
	font-family: Monaco, Courier New;
	font-size: 10pt;
}
table {
	margin: 20px auto;
}
td {
	text-align: center;
	padding: 15px;
	border-left: 1px;
	border-right: 1px;
}
td + .alert-box {
	padding: 0px;
}
/*
tr:first-child {
	border-left: none;
}
tr:last-child{
	border-right: none;
}
*/
p > b:first-child {
	padding-right: 13px;
	font-size: 13pt;
}



body, td, th {
	font-family: "Oxygen", Helvetica, sans-serif;
	line-height: 2;
	font-size: 12pt;
}

h1, h2 {
	font-family: "Oswald",Georgia, Utopia, Charter, serif;
	font-weight: normal;
	font-size: 24pt;
	text-transform: uppercase;
}

h2 {
	font-size: 16pt;
}

/*
table {
	margin: auto;
	border-spacing: 0px 3px;
	border-left:  3px solid #DDDDDD;
	border-right: 3px solid #DDDDDD;
	border-radius: 3px;
	background: white;
	box-shadow: 3px 3px #CCCCCC;
}
td, th {
	padding: 15px 30px;
}
*/
/*
tr:nth-child(even) {
	background: #FFF0E3;
}
tr:nth-child(even):hover {
	background: #FFF8F1;
}
tr:nth-child(odd) {
	background: #FDFBFA;
}
tr:nth-child(odd):hover {
	background: #FFFFFF;
}
*/

table {
	border-spacing: 0px 3px;
}
td, th {
	padding: 10px 20px;
}
tr > :first-child {
	padding-left: 30px;
}
tr > :last-child {
	padding-right: 30px;
}
tr:nth-child(even) {
	background: #F9F9F9;
}
tr:nth-child(odd) {
	background: #FFFFFF;
}

table > :first-child {
	border-collapse: separate;
	border-spacing: 4px 3px;
	border-color: black;
}



.alert-box {
	width: 90%;
	margin: 20px auto;
    text-align: center;

	padding: 15px;
	padding-left: 60px;
	line-height: 2;
	background: #FFF8F1 url("images/alert.png") no-repeat 20px 50%;

	border: #CCCCCC solid 2px;
	box-shadow: 3px 3px #AAAAAA;
}
